<section class="about">
    <div class="title">
        <h2 class="section-title">OM MIG</h2>

    </div>
    <div class="content">
        <div class="column col-left">
            <div class="img-card">
                <img src="../../../assets/jag.jpg" alt="">
            </div>
        </div>
        <div class="column col-right">
            <h2 class="content-title">Jag <span class="span1">hjälper</span> klienter att <span class="span1">lösa </span> <span class="span1">problem</span> med hjälp av mina <span class="span1">mästerverk!</span>
                <br><br><br> Jag är en <span class="span1">webbutvecklare</span> och <span class="span1">webbdesigner</span>. 19 år gammal och uppväxt i Dalarna men håller numera hus i <span class="span1">Västerås.</span>
                <br><br><br> Att ha en <span class="span1">hög standard</span> är <span class="span1">betyande</span> för mig <span class="span1">oavsett</span> om det gäller mina studier, <span class="span1">fritidsintressen</span> eller <span class="span1">jobb!</span></h2>
            

        </div>

    </div>

</section>