.navbar {
    background-color: rgba(255,220,60,255)
}


.navbar-split {
    justify-content: center;
}


.navbar-toggler-icon{
    color: white;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;


}

.navbar-brand {
    color: white;
    font-size: 50px;
    font-weight: bold;
    color: rgb(179, 7, 7);;
}