<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">LIAM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-split" id="navbarSupportedContent">
        <ul class="navbar-nav m-lg-3">

          <li class="nav-item">
            <a class="nav-link" routerLink="/om-mig">OM MIG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mina-erfarenheter">ERFARENHETER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="skills">SKILLS</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>