<section class="about">
    <div class="title">
        <h2 class="section-title">MINA ERFARENHETER</h2>
    </div>
    <div class="content">
        <div class="column col-left">
            <div class="img-card">
                <img src="../../../assets/jag3.jpg" alt="">
            </div>
        </div>
        <div class="column col-right">
            <div class="content-title">
                <h2 class="span1">Sala Vassklippning 2019-</h2>
                <h3>Jag har/är medarbetare på Sala vassklippning på sommarsäsongerna</h3>
                <br><br><h2 class="span1">Gröna Lund 2019</h2>
                <h3>Jag har varit medarbetare på Gröna Lund under sommaren 2019</h3>
                <br><br><h2 class="span1">Har startat ett företag</h2>
                <h3>Tillsammans med en god vän så startade vi en marknadsföringsbyrå och
                    skapade en egen hemsida och logga. Vi ringde till potentiella klienter
                    samt gick runt till lokala företag och erbjöd våra tjänster.
                </h3>
                <p>Idag är inte företaget igång då vi inte har ekonomin att driva företaget!</p>
                
            </div>


