<section class="about">
    <div class="title">
        <h2 class="section-title">SKILLS</h2>
    </div>
    <div class="content">
        <div class="column col-left">
            <div class="img-card">
                <img src="../../../assets/jag2.jpg" alt="">
            </div>
        </div>
        <div class="column col-right">
            <div class="content-title">
                <h2 class="span1">Goda kunskaper i HTML</h2>
                <h3>Jag kan bygga en stadig grund och skapa stora möjligheter.</h3>
                <br><br><h2 class="span1">Goda kunskaper i CSS</h2>
                <h3>Jag kan skräddarsy allt efter dina begär.</h3>
                <br><br><h2 class="span1">Goda kunskaper i JavaScript</h2>
                <h3>Jag kommer inte bara fånga uppmärksamheten utan även hålla kvar den.
                </h3>
                
            </div>


